.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.otp-card {
  background: #1f1f1f;
  color: white;
  width: 380px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(255, 192, 203, 0.4);
  text-align: center;
}

.otp-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: bold;
  color: #fc82c2;
}

.otp-heading {
  font-size: 22px;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 18px;
  font-size: 16px;
}

.otp-btn {
  width: 100%;
  padding: 12px;
  background: #ffb6d9;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

.otp-btn:hover {
  background: #ff8dc4;
}

.resend {
  margin-top: 12px;
  color: #ffb6d9;
  font-size: 14px;
  cursor: pointer;
}
.resend:hover {
  text-decoration: underline;
}
